# Ignorar dependencias
client/node_modules/
server/node_modules/

# Ignorar variables de entorno
*.env

# Ignorar builds o dist
dist/
build/

# Ignorar otros archivos temporales
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds frontend
client/dist/
client/build/

# Misc
.DS_Store
.env
.env.*
